{% extends 'base.html' %}
{% load static %}

{% block bnner-section %}
    <!--============= Page Header Section Starts Here =============-->
    <section class="page-header">
        <div class="banner-bg bg_img" data-background="{% static 'images/banner/banner-bg.jpg' %}" style="background-image: url(&quot;./static/images/banner/banner-bg.jpg&quot;);">
            <div class="banner-bg-shape"><img src="{% static '/images/banner/banner-shape.png' %}" alt="banner"></div>
            <div class="round-1">
                <img src="{% static '/images/banner/01.png' %}" alt="banner">
            </div>
            <div class="round-2">
                <img src="{% static '/images/banner/02.png' %}" alt="banner">
            </div>
        </div>
        <div class="container">
            <div class="hero-content">
                <h1 class="title">Frequently Asked Questions</h1>
            </div>
        </div>
    </section>
    <!--============= Page Header Section Ends Here =============-->
    {% endblock %}

    {% block main_content %}
    <!--============= Payout Section Starts Here =============-->
    <section class="faq-section">
        <div class="container">
            <div class="faq-area padding-top padding-bottom mt--150">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="section-header mw-100">
                            <h5 class="cate">GOT A QUESTION?</h5>
                            <h2 class="title"> We've Got Answers.</h2>
                        </div>
                    </div>
                </div>
                <div class="faq-wrapper">
                  {% for faq in data %}
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="{% static '/css/img/faq.png' %}" alt="css"><span class="title">{{faq.question}}</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>{{faq.answer}}</p>
                        </div>
                    </div>
                  {% endfor %}  
                </div>
            </div>
        </div>
    </section>
    <!--============= Payout Section Ends Here =============-->

   

    {% endblock %}
   